.container {
    transition: transform opacity 0.3s ease-in-out;
}

.txt-gradient {
    background: linear-gradient(to right, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    @apply bg-clip-text text-transparent font-bold;
}

.txt-logo {
    font-family: "Source Code Pro", monospace;
    @extend .txt-gradient;
}

.author-name {}

