<header class="fixed top-0 left-0 right-0 text-white border-white h-screen pt-8 pb-24 -z-1 md:pb-32">
    <div #headerContainer class="flex flex-col h-full container max-w-7xl ml-auto mr-auto px-8">
        <a href="#" class="txt-logo tw-font-bold">
            <span class="logo-bracket">&lt;</span>
            <span class="logo-initials">SG</span>
            <span class="logo-bracket">/&gt;</span>
        </a>
        <article class="flex flex-col items-center justify-center h-full">
            <h1 class="author-name text-4xl md:text-8xl mb-6">
                <p class="text-lg md:text-xl leading-relaxed pl-2">Hey 👋, I'm</p>
                <strong class="txt-gradient">Samir Ghag</strong>
            </h1>
            <p class="text-lg md:text-xl max-w-3xl mb-8 leading-relaxed text-muted-foreground text-center">I craft elegant web experiences that blend creativity and usability — built with care for real users, not just screens.</p>
            <div class="flex gap-4">
                @defer {
                <a href="https://github.com/samirghag" aria-label="GitHub" target="_blank" class="">
                    <mat-icon svgIcon="github"></mat-icon>
                    <span class="animated-border"></span>
                </a>
                <a href="https://linkedin.com/in/samirghag" aria-label="LinkedIn" target="_blank" class="inline-flex hover:text-orange-500 transition">
                    <mat-icon svgIcon="linked-in"></mat-icon>
                    <span class="animated-border"></span>
                </a>
                }
            </div>
        </article>
    </div>
</header>