<header class="fixed top-0 left-0 right-0 text-white border-white h-screen pt-8 pb-24 -z-1 md:pb-32">
    <div #headerContainer class="flex flex-col h-full container max-w-7xl ml-auto mr-auto px-8">
        <article class="flex flex-col items-center justify-center h-full">
            <h1 class="text-4xl font-bold mb-8 md:text-6xl">Hey 👋, I'm Samir Ghag</h1>
            <p class="text-lg md:text-xl text-center max-w-screen-lg mb-8 leading-relaxed">Dedicated to crafting beautiful and functional web interfaces that users love to interact with, blending creativity with technical skills to build outstanding web applications.</p>
            <div class="flex">
                <a><mat-icon svgIcon="github"></mat-icon></a>
                <a><mat-icon svgIcon="linked-in"></mat-icon></a>
            </div>
        </article>
    </div>
</header>