<!-- <div class="fixed-bar top-bar"></div>
<div class="fixed-bar bottom-bar"></div>
<div class="fixed-bar left-bar"></div>
<div class="fixed-bar right-bar"></div> -->

<!-- <div class="w-full h-full flexs-container">
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
  <div class="flexs_div">
    <div style="background-image:url('assets/img/flex.png');"></div>
  </div>
</div> -->

<!-- <nav class="navbar fixed-top bg-transparent">
  <div class="flex w-full relative items-center max-w-screen-xl m-auto">
      <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="w-20"></a>
      <div class="button_container" id="toggle" (click)='toggleMenu()' [ngClass]="activeClass ? 'active' : ''">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
  </div>
</nav> -->

<!-- <div class="overlay" id="overlay" [ngClass]="activeClass ? 'open' : ''" *ngIf="contact">
    <nav class="overlay-menu">
      <div class="social-links">
        <a href="#"><img src="assets/img/git_logo.png" class="img-fluid"/></a>
        <a href="#"><img src="assets/img/behance_logo.png" class="img-fluid"/></a>
        <a href="#"><img src="assets/img/insta_logo.png" class="img-fluid"/></a>
        <a href="#"><img src="assets/img/linked_in_logo.png" class="img-fluid"/></a>
      </div>
      <ul class="navbar-nav mr-auto" *ngIf="menu">
        <li class="nav-item " (click)='activeMenu(links.name)' *ngFor="let links of menu;" [ngClass]="{'active' : links.name === selected}">
          <a class="nav-link" scrollTo href="{{links.link}}">{{links.name}}</a>
        </li>
      </ul>
      <div class="contact-info">
          <div class="flex">
              <h5><i class="fa fa-phone"></i> <a href="{{contact.email}}">{{contact.mobile}}</a></h5>
              <h5><i class="fa fa-envelope"></i> <a href="mailto:{{contact.email}}">{{contact.email}}</a></h5>
          </div>
      </div>
      <span class="inner-circle circle1"></span>
      <span class="inner-circle circle2"></span>
    </nav>
</div> -->

<!-- <section class="section home-section flex min-h-screen" id="home">
  <div class="flex inner-section h-full w-full max-w-screen-xl m-auto">
     <div class="div_box h-full">
        <div class="flex mx-0 h-full items-center content-center relative flex-col">
          <div class="jumbotron" *ngIf="intro">
              <h1 class="animated fadeInLeft text-3xl font-bold underline">{{intro.title}}</h1>
              <h2 class="animated fadeInRight" [innerHTML]="intro.name"></h2>
              <h4 class="animated fadeInLeft">{{intro.profile}}</h4>
          </div>
          <span class="inner-circle circle1"></span>
          <span class="inner-circle circle2"></span> 
        </div>
     </div>
  </div>
</section> -->

<!-- <section class="section about-section flex min-h-screen" id="about" *ngIf="about">
  <div class="inner-section h-full w-full max-w-screen-xl m-auto">
    <div class="div_box h-full w-full ">
      <div class="flex mx-0 h-full items-center content-center">
        <div class="basis-1/3">
          <img src="{{about.img}}" class="img-fluid"/>
          <span class="inner-circle circle1"></span>
          <span class="inner-circle circle2"></span>
        </div>
        <div class="basis-2/3">
            <h2 class="title">{{about.title}}</h2>
            <div class="content">
                <p class="txt" *ngFor="let txt of about.about_txt">{{txt.txt}}</p>
            </div>
            <div class="content" [innerHTML]="about.about_txt.join('')"></div> -->
        <!--</div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="section resume-section min-h-screen" id="resume" *ngIf="resume">
  <div class="inner-section h-full w-full max-w-screen-xl m-auto">
    <div class="div_box h-full">
       <div class="flex mx-0 h-full">
          <div class="inner-flex">
            <div class="education-wrapper">
      
                <div class="flex mx-0">
                    <div class="col col-2">
                        <h2 class="title mb-0">{{resume.edu_title}}</h2>
                    </div>
                    <div class="col col-5" *ngFor="let item of resume.education">
                       <div class="inner-box">
                          <p class="text-uppercase txt-blue">{{item.title}}</p>
                          <p class="text-uppercase">{{item.from}}</p>
                          <p class="text-uppercase">{{item.session}}</p>
                       </div>
                    </div>
                </div>
            </div>
            <div class="experience-wrapper">
                <div class="flex mx-0">
                    <div class="col col-2 order-last">
                        <h2 class="title mb-0">{{resume.exp_title}}</h2>
                    </div>
                    <div class="col col-5" *ngFor="let item of resume.experience">
                        <div class="inner-box">
                           <p class="text-uppercase txt-blue">{{item.title}}</p>
                           <p class="text-uppercase">{{item.company}}</p>
                           <p class="text-uppercase">{{item.session}}</p>
                        </div>
                     </div>
                </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</section> -->

<!-- <section class="section work-section min-h-screen" id="work" *ngIf="work">
  <div class="inner-section h-full w-full max-w-screen-xl m-auto">
    <div class="div_box h-full">
        <div class="flex mx-0 h-full">
          <div class="inner-flex">
            <div class="flex mx-0"> -->
              <!-- <swiper [config]="config">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide slide-item" *ngFor="let thumbs of work.projects">
                        <div class="img-box">
                          <div class="img-wrapper">
                            <div class="img-overlay"><img src="{{thumbs.img}}" class="img-fluid"/></div>
                          </div>
                          <div class="img-content">
                            <h2 class="title"> -->
                              <!--<span class="number">{{thumbs.p_id}}.</span> {{thumbs.title}}</h2>-->
                            <!-- <p class="keywords">{{thumbs.sub_title}}</p>
                            <a href="" class="link"><span>View More</span></a>
                          </div>
                        </div>
                      </div>
                  </div> -->
                  <!-- Add Pagination -->
                  <!-- <div class="swiper-pagination"></div> -->
                  <!-- Add Arrows -->
                  <!-- <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div> -->
              <!-- </swiper>
            </div>
          </div>
        </div>
    </div>
  </div>
</section> -->

<!-- <section class="section contact-section flex min-h-screen" id="contact" *ngIf="contact">
    <div class="inner-section h-full w-full max-w-screen-xl m-auto">
      <div class="div_box h-full">
         <div class="mx-0 h-full">
            <div class="inner-flex">
                <div class="contact-info">
                  <div class="flex mx-0">
                    <div class="basis-1/3">
                        <h5><i class="fa fa-phone"></i> <a href="{{contact.email}}">{{contact.mobile}}</a></h5>
                    </div>
                    <div class="basis-1/3">
                        <h5><i class="fa fa-envelope"></i> <a href="mailto:{{contact.email}}">{{contact.email}}</a></h5>
                    </div>
                    <div class="basis-1/3">
                        <h5><i class="fa fa-map-marker"></i> <a href="#">{{contact.location}}</a></h5>
                    </div>
                  </div>
                </div>
                <div class="contact-form">
                  <form>
                    <div class="flex mx-0">
                       <div class="basis-1/2">
                         <div class="col-inner">
                          <input placeholder="Name" class="form-control"/>
                          <input placeholder="Email" class="form-control"/>
                        </div>
                       </div>
                       <div class="basis-1/2">
                          <div class="col-inner">
                            <textarea placeholder="Message" class="form-control"></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="flex mx-0">
                      <div class="basis-full text-right">
                        <div class="col-inner">
                          <button class="btn text-uppercase">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="social-links">
                  <div class="flex mx-0">
                    <div class="basis-full">
                      <div class="col-inner">
                          <a href="#"><img src="assets/img/git_logo.png" class="img-fluid"/></a>
                          <a href="#"><img src="assets/img/behance_logo.png" class="img-fluid"/></a>
                          <a href="#"><img src="assets/img/insta_logo.png" class="img-fluid"/></a>
                          <a href="#"><img src="assets/img/linked_in_logo.png" class="img-fluid"/></a>
                      </div>
                    </div>
                  </div>
                  
                </div>
            </div>
          </div>
      </div>
    </div>
</section> -->

<div class="fixed-grid w-full h-screen fixed top-0 left-0 right-0 grid grid-cols-12 divide-x divide-solid">
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
  <div class="vertical-line"></div>
</div>

<app-header></app-header>
<main #mainElement class="main opacity-1 slide-up-on-scroll pb-12">
  <div class="container flex h-screen pt-16 mx-auto px-8">
    @defer {
      <a><mat-icon svgIcon="github"></mat-icon></a>
      <a><mat-icon svgIcon="linked-in"></mat-icon></a>
      <button (click)="changeTheme()">Change Theme</button>
      <app-home> </app-home>
    }
  </div>
</main>
<app-footer></app-footer>