.fixed-grid {
  &::before {
    @apply absolute top-0 left-0 w-full h-full;
    content: "";
    background: linear-gradient(
      to bottom,
      var(--primary) 0%,
      var(--secondary) 50%,
      var(--tertiary) 100%
    );
    opacity: 0.1;
  }
  .vertical-line {
    position: relative;
    border-image: linear-gradient(11deg, transparent 10%, var(--text-muted)) 1;
    animation: lineup 4s forwards;
  }
}

.main {
  margin-top: calc(100vh - 4rem);
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  position: relative;
  background-color: var(--surface);
  transition: margin-left margin-right 0.2s ease-in-out;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  &:before {
    @apply absolute top-0 right-0 bottom-0 left-0;
    border-radius: inherit;
    content: "";
    margin: -1px;
    z-index: -1;
    background: linear-gradient(0deg,transparent 70%, var(--tertiary) 80%);
  }
}

// .btn-light-mode,
// .btn-dark-mode {
//   @apply p-2 rounded-full leading-none z-[2];
//   transition: background-color 0.3s ease;
//   &.active mat-icon {
//     color: white;
//   }
// }

// .btn-light-mode {
//   color: var(--text);
//   &:hover:not(.active) mat-icon{
//     color: var(--primary);
//   }
// }

// .btn-dark-mode {
//   color: var(--text);
// }
