$fa-font-path : '~font-awesome/fonts';

@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web|Permanent+Marker');


$bg-dark: #F7F9FB;
$bg-md-dark: #FDFEFE;
$bg-light: #fcfcfc;
$white: #ffffff;
$txt-light-gray: #A09EA5;
$dark-blue: #1f1568;
$dark-md-blue:#252b95;
$md-blue: #2052af;
$light-blue:#827bb6;
$circle-dark-blue:#5350D7;
$circle-blue:#4B8BF6;
$circle-cyan: #6CDBFC;
$red: #E34D54;
$bg-gradient: #E34D54, #5350D7, #4B8BF6, #6CDBFC;
$bg-gradient-light: #f5f9fc, #FDFEFE,  #FBFCFC, #f5f9fc;

$body-font: 'Titillium Web', sans-serif;

$heading-font: 'Roboto', sans-serif;

$logo-font: 'Permanent Marker', cursive;